@model MyPortfolioManagement.Models.Email
    
<!DOCTYPE html>

<html lang="en">
  <head>
     
    <title>Bhuwan Shahi &mdash; Portfolio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="Content/css/animate.css">
    <link rel="stylesheet" href="Content/css/flexslider.css">
    <link rel="stylesheet" href="Content/fonts/icomoon/style.css">

    <link rel="stylesheet" href="Content/css/bootstrap.css">
    <link rel="stylesheet" href="Content/css/style.css">

    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="Content/images/favicon.png" />
    
  </head>
  <body data-spy="scroll" data-target="#pb-navbar" data-offset="200">



      <nav class="navbar navbar-expand-lg site-navbar navbar-light bg-light" id="pb-navbar">
          <div class="container">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <a class="navbar-brand" href="#section-home">Bhuwan</a>
              <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample09">
                  <ul class="navbar-nav">
                      <li class="nav-item"><a class="nav-link" href="#section-home">Home</a></li>
                      <li class="nav-item"><a class="nav-link" href="#section-about">About</a></li>
                      <li class="nav-item"><a class="nav-link" href="#section-services">Services</a></li>
                      <li class="nav-item"><a class="nav-link" href="#section-portfolio">Portfolio</a></li>
                      <li class="nav-item"><a class="nav-link" href="#section-resume">Resume</a></li>
                      <li class="nav-item"><a class="nav-link" href="#section-blog">Blog</a></li>
                      <li class="nav-item"><a class="nav-link" href="#section-contact">Contact</a></li>
                  </ul>
              </div>
          </div>
      </nav>



      <section class="site-hero" style="background-image: url(Content/images/image_1.jpg);" id="section-home" data-stellar-background-ratio="0.5">
          <div class="container">
              <div class="row intro-text align-items-center justify-content-center">
                  <div class="col-md-10 text-center">
                      <h1 class="site-heading site-animate">नमस्ते!, I'm <strong>Bhuwan Shahi</strong></h1>
                      <p class="lead site-subheading mb-4 site-animate">Currently, Studying Bsc.CSIT in AIC(TU). Wanna be a .NET Developer </p>
                      <p><a href="#section-about" class="smoothscroll btn btn-primary px-4 py-3">More On Me</a></p>
                  </div>
              </div>
          </div>
      </section> <!-- section -->

      <section class="site-section" id="section-about">
          <div class="container">
              <div class="row mb-5 align-items-center">
                  <div class="col-lg-7 pr-lg-5 mb-5 mb-lg-0">
                      <img src="Content/images/image_1_long.jpg" alt="Image placeholder" class="img-fluid">
                  </div>
                  <div class="col-lg-5 pl-lg-5">
                      <div class="section-heading">
                          <h2>About <strong>Me</strong></h2>
                      </div>
                      <p class="lead">I'm a student of IT and want to be a software develop at Sillcon Valley. I have serious passion for developing Web Apps and learning new Technology</p>
                      <p class="mb-5  ">At present time, I'm living inside Kathmandu Valley but my Original resident is in Dhangadhi, Kalali.To persue my dream of becoming Software Developer I joined AIC college for Bachelor degree. Hope, will get achievement and learn new skills to reach my destiny. </p>
                      <p>
                          <a href="#section-contact" class="btn btn-primary px-4 py-2 btn-sm smoothscroll">Hire Me</a>
                          <a href="#" class="btn btn-secondary px-4 py-2 btn-sm">Download CV</a>
                      </p>
                  </div>
              </div>
              <div class="row pt-5">
                  <div class="col-md-3 mb-3">
                      <div class="section-heading">
                          <h2>My <strong>Skills</strong></h2>
                      </div>
                  </div>
                  <div class="col-md-9">
                      <div class="skill">
                          <h3>Design</h3>
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width:55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                                  <span>55%</span>
                              </div>
                          </div>
                      </div>
                      <div class="skill">
                          <h3>HTML5</h3>
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                  <span>80%</span>
                              </div>
                          </div>
                      </div>
                      <div class="skill">
                          <h3>CSS3</h3>
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                  <span>70%</span>
                              </div>
                          </div>
                      </div>

                      <div class="skill">
                          <h3>Machine Learning</h3>
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width:35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">
                                  <span>35%</span>
                              </div>
                          </div>
                      </div>
                      <div class="skill">
                          <h3>JavaScript core</h3>
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width:65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                                  <span>65%</span>
                              </div>
                          </div>
                      </div>
                      <div class="skill">
                          <h3>C, C++, C#</h3>
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width:60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                  <span>60%</span>
                              </div>
                          </div>
                      </div>

                      <div class="skill">
                          <h3>SQL</h3>
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width:70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                  <span>70%</span>
                              </div>
                          </div>
                      </div>
                      <div class="skill">
                          <h3>JAVA</h3>
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width:50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                  <span>50%</span>
                              </div>
                          </div>
                      </div>
                      <div class="skill">
                          <h3>Python</h3>
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width:55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                                  <span>55%</span>
                              </div>
                          </div>
                      </div>
                      <div class="skill">
                          <h3>.NET </h3>
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                  <span>50%</span>
                              </div>
                          </div>
                      </div>
                      <div class="skill">
                          <h3>Bootstrap</h3>
                          <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                  <span>60%</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <section class="site-section bg-light">
          <div class="container">
              <div class="row mb-5">
                  <div class="col-md-12">
                      <div class="section-heading text-center">
                          <h2>Freinds & Collegues <strong>Testimonial</strong></h2>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="block-47 d-flex mb-5">
                          <div class="block-47-image">
                              <a href="https://www.facebook.com/aayush.chand.56"></a><img src="Content/images/person_4.jpg" alt="Image placeholder" class="img-fluid"></a>
                          </div>
                          <blockquote class="block-47-quote">
                              <p>
                                  &ldquo;Hey girl, I'm waiting on you, I'm waiting on you
                                  Come on and let me sneak you out
                                  And have a celebration, a celebration
                                  The music up, the window's down
                                  Yeah, we'll be doing what we do
                                  Just pretending that we're cool and we know it too
                                  Yeah, we'll keep doing what we do
                                  Just pretending that we're cool, so tonight
                                  .&rdquo;
                              </p>
                              <cite class="block-47-quote-author">&mdash; Ayush Chand, STUDENT <a href="https://www.facebook.com/mmakalu2047/">Mout Makalu Scholl.</a></cite>
                          </blockquote>
                      </div>
                  </div>
                  <div class="col-md-6">

                      <div class="block-47 d-flex mb-5">
                          <div class="block-47-image">
                              <a href="https://www.facebook.com/prem55maharjan"> <img src="Content/images/person_6.jpg" alt="Image placeholder" class="img-fluid"></a>
                          </div>
                          <blockquote class="block-47-quote">
                              <p>&ldquo;The only thing better than a streetbike.. is a woman riding one.&rdquo;</p>
                              <cite class="block-47-quote-author">&mdash; Sajan Tandukar Kushal, DEVELOPER <a href="https://www.academiacollege.edu.np/">Aacademia College.</a></cite>
                          </blockquote>
                      </div>
                  </div>
                  <div class="col-md-6">

                      <div class="block-47 d-flex mb-5">
                          <div class="block-47-image">
                              <a href=""> <img src="Content/images/person_2.jpg" alt="Image placeholder" class="img-fluid"></a>
                          </div>
                          <blockquote class="block-47-quote">
                              <p>&ldquo;You only live once, but if you do it right, once is enough.&rdquo;</p>
                              <cite class="block-47-quote-author">&mdash; Diwas Bhatta, STUDENT <a href="https://www.harvard.edu/">Harvard University</a></cite>
                          </blockquote>
                      </div>
                  </div>

                  <div class="col-md-6">

                      <div class="block-47 d-flex mb-5">
                          <div class="block-47-image">
                              <a href="https://www.facebook.com/ashmi.chand.370"> <img src="Content/images/person_5.jpg" alt="Image placeholder" class="img-fluid"></a>
                          </div>
                          <blockquote class="block-47-quote">
                              <p>&ldquo;A friend is one that knows you as you are, understands where you have been, accepts what you have become, and still, gently allows you to grow.&rdquo;</p>
                              <cite class="block-47-quote-author">&mdash; Ashmi Chand(ACT), MODEL/MUSICIAN <a href="https://www.billboard.com/">Billboard Media</a></cite>
                          </blockquote>
                      </div>
                  </div>
                  <div class="col-md-6">

                      <div class="block-47 d-flex mb-5">
                          <div class="block-47-image">
                              <a href="https://www.facebook.com/shahi.rachana"> <img src="Content/images/person_3.jpg" alt="Image placeholder" class="img-fluid"></a>
                          </div>
                          <blockquote class="block-47-quote">
                              <p>&ldquo;Shows a sincere interest in employees and the solutions to their problems.&rdquo;</p>
                              <cite class="block-47-quote-author">&mdash; Rachana Shahi Chand , CEO <a href="https://www.facebook.com/FALTU.inc/">FALTU.</a></cite>
                          </blockquote>
                      </div>
                  </div>
                  <div class="col-md-6">

                      <div class="block-47 d-flex mb-5">
                          <div class="block-47-image">
                              <a href="https://www.facebook.com/subham.ojha.18"><img src="Content/images/person_1.jpg" alt="Image placeholder" class="img-fluid"></a>
                          </div>
                          <blockquote class="block-47-quote">
                              <p>&ldquo;Life is what happens when you're busy making other plans.&rdquo;</p>
                              <cite class="block-47-quote-author">&mdash; Subham Ojha, STUDENT <a href="https://www.facebook.com/ECUjourney">Edith Cowan University (ECU).</a></cite>
                          </blockquote>
                      </div>
                  </div>
              </div>
          </div>
      </section>

      <section class="site-section border-top pb-0" id="section-services">
          <div class="container">
              <div class="row mb-4">
                  <div class="col-md-12">
                      <div class="section-heading text-center">
                          <h2>My <strong>Services</strong></h2>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6 col-lg-4 text-center mb-5">
                      <div class="site-service-item site-animate" data-animate-effect="fadeIn">
                          <span class="icon">
                              <span class="icon-phone3"></span>
                          </span>
                          <h3 class="mb-4">PhotoGraphy</h3>
                          <p>Photography is the art, application and practice of creating durable images by recording light or other electromagnetic radiation, either electronically by means of an image sensor, or chemically by means of a light-sensitive material such as photographic film. You can be a good photography with the contol of ISO, Apeture and shutter in a hand</p>
                          <p><a href="#" class="site-link">Learn More <i class="icon-chevron-right"></i></a></p>
                      </div>
                  </div>


                  <div class="col-md-6 col-lg-4 text-center mb-5">
                      <div class="site-service-item site-animate" data-animate-effect="fadeIn">
                          <span class="icon">
                              <span class="icon-light-bulb"></span>
                          </span>
                          <h3 class="mb-4">Project Consultant and Guidence </h3>
                          <p>A consultant is a professional who provides expert advice in a particular area such as business, education, law, regulatory compliance, human resources, marketing, finance, health care, engineering, science, security, or any of many other specialized fields..</p>
                          <p><a href="#" class="site-link">Learn More <i class="icon-chevron-right"></i></a></p>
                      </div>
                  </div>

                  <div class="col-md-6 col-lg-4 text-center mb-5">
                      <div class="site-service-item site-animate" data-animate-effect="fadeIn">
                          <span class="icon">
                              <span class="icon-lightbulb"></span>
                          </span>
                          <h3 class="mb-4">Technical Idea</h3>
                          <p>As World is changing rapidly with technology, we also need to update ourself with new gadgets which will make our works and life convinient to live. </p>
                          <p><a href="#" class="site-link">Learn More <i class="icon-chevron-right"></i></a></p>
                      </div>
                  </div>
              </div>
          </div>
      </section>



      <section class="site-section" id="section-portfolio">
          <div class="container">
              <div class="row">
                  <div class="section-heading text-center col-md-12">
                      <h2>Featured <strong>Portfolio</strong></h2>
                  </div>
              </div>
              <div class="filters">
                  <ul>
                      <li class="active" data-filter="*">All</li>
                      <li data-filter=".packaging">ASP.NET MVC </li>
                      <li data-filter=".mockup">C++/ Python</li>
                      <li data-filter=".typography">JAVA</li>
                      <li data-filter=".photography">Photography</li>
                  </ul>
              </div>

              <div class="filters-content">
                  <div class="row grid">
                      <div class="single-portfolio col-sm-4 all mockup">
                          <div class="relative">
                              <div class="thumb">
                                  <div class="overlay overlay-bg"></div>
                                  <img class="image img-fluid" src="Content/images/p2.jpg" alt="">
                              </div>
                              <a href="Content/images/p2.jpg" class="img-pop-up">
                                  <div class="middle">
                                      <div class="text align-self-center d-flex"><img src="Content/images/preview.png" alt=""></div>
                                  </div>
                              </a>
                          </div>
                          <div class="p-inner">
                              <h4>Simple Snake Game</h4>
                              <div class="cat">C++</div>
                          </div>
                      </div>
                      <div class="single-portfolio col-sm-4 all mockup">
                          <div class="relative">
                              <div class="thumb">
                                  <div class="overlay overlay-bg"></div>
                                  <img class="image img-fluid" src="Content/images/p3.jpg" alt="">
                              </div>
                              <a href="Content/images/p3.jpg" class="img-pop-up">
                                  <div class="middle">
                                      <div class="text align-self-center d-flex"><img src="Content/images/preview.png" alt=""></div>
                                  </div>
                              </a>
                          </div>
                          <div class="p-inner">
                              <h4>Product Rating App </h4>
                              <div class="cat">Python Machine Learning Naive Bayes and SVM</div>
                          </div>

                      </div>
                      <div class="single-portfolio col-sm-4 all packaging">
                          <div class="relative">
                              <div class="thumb">
                                  <div class="overlay overlay-bg"></div>
                                  <img class="image img-fluid" src="Content/images/p4.jpg" alt="">
                              </div>
                              <a href="Content/images/p4.jpg" class="img-pop-up">
                                  <div class="middle">
                                      <div class="text align-self-center d-flex"><img src="Content/images/preview.png" alt=""></div>
                                  </div>
                              </a>

                          </div>
                          <div class="p-inner">
                              <h4>Video Rental Web App</h4>
                              <div class="cat">ASP.NET MVC</div>
                          </div>
                      </div>
                      <div class="single-portfolio col-sm-4 all packaging">
                          <div class="relative">
                              <div class="thumb">
                                  <div class="overlay overlay-bg"></div>
                                  <img class="image img-fluid" src="Content/images/p6.jpg" alt="">
                              </div>
                              <a href="Content/images/p6.jpg" class="img-pop-up">
                                  <div class="middle">
                                      <div class="text align-self-center d-flex"><img src="Content/images/preview.png" alt=""></div>
                                  </div>
                              </a>
                          </div>
                          <div class="p-inner">
                              <h4>To Do List</h4>
                              <div class="cat">ASP.NET MVC</div>
                          </div>
                      </div>
                      <div class="single-portfolio col-sm-4 all typography">
                          <div class="relative">
                              <div class="thumb">
                                  <div class="overlay overlay-bg"></div>
                                  <img class="image img-fluid" src="Content/images/p5.jpg" alt="">
                              </div>
                              <a href="Content/images/p5.jpg" class="img-pop-up">
                                  <div class="middle">
                                      <div class="text align-self-center d-flex"><img src="Content/images/preview.png" alt=""></div>
                                  </div>
                              </a>
                          </div>
                          <div class="p-inner">
                              <h4>Simple Calulation using Swing , AWT and Frame</h4>
                              <div class="cat">JAVA</div>
                          </div>
                      </div>
                      <div class="single-portfolio col-sm-4 all photography">
                          <div class="relative">
                              <div class="thumb">
                                  <div class="overlay overlay-bg"></div>
                                  <img class="image img-fluid" src="Content/images/p1.jpg" alt="">
                              </div>
                              <a href="Content/images/p1.jpg" class="img-pop-up">
                                  <div class="middle">
                                      <div class="text align-self-center d-flex"><img src="Content/images/preview.png" alt=""></div>
                                  </div>
                              </a>
                          </div>
                          <div class="p-inner">
                              <h4>White Space Photography</h4>
                              <div class="cat">Photography & Editing</div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- .section -->
      <section class="site-section bg-light " id="section-resume">
          <div class="container">
              <div class="row">
                  <div class="col-md-12 mb-5">
                      <div class="section-heading text-center">
                          <h2>My <strong>Resume</strong></h2>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <h2 class="mb-5">Education</h2>
                      <div class="resume-item mb-4">
                          <span class="date"><span class="icon-calendar"></span> 13 JUN, 2014 AD</span>
                          <h3>School Leaving Certificate(SLC)</h3>
                          <p>Studied from LKG to Class 10.</p>
                          <span class="school">Aishwarya Vidya Niketa (AVN) </span>
                          <p>68%</p>
                      </div>
                      <div class="resume-item mb-4">
                          <span class="date"><span class="icon-calendar"></span>30 AUGUST, 2016 AD</span>
                          <h3>Higher Secondary Education Board(HSEB)</h3>
                          <p>Studied class 11 and class 12 in new Education Institude with a great experience. </p>
                          <span class="school">National Academy Of Science And Technology (NAST)</span>
                          <p>69%</p>
                      </div>

                      <div class="resume-item mb-4">
                          <span class="date"><span class="icon-calendar"></span> RUNNINGr.</span>
                          <h3>Bachelors of Science in Computer Science and Information Technology (BSc. CSIT)</h3>
                          <p>Four year 8th semester System </p>
                          <span class="school">Academia International College (AIC)</span>
                          <p>70%(avg)</p>
                      </div>
                  </div>
                  <div class="col-md-6">

                      <h2 class="mb-5">Experience</h2>
                      <div class="resume-item mb-4">
                          <span class="date"><span class="icon-calendar"></span> 2018-06-06 – Present</span>
                          <h3>Cloud Worker /Data Specialist </h3>
                          <p> Working on Cloud Factory’s Data Entry field since last two year. CF involve us in different activities  like Community services , Team meeting, Online Training etc.</p>
                          <span class="school">Cloud Factory (CF)</span>
                      </div>
                  </div>
              </div>
          </div>
      </section> <!-- .section -->
     
      

      <section class="site-section" id="section-blog">
          <div class="container">
              <div class="row">
                  <div class="col-md-12 mb-5">
                      <div class="section-heading text-center">
                          <h2>Blog on <strong>Technology</strong></h2>
                      </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-sm-6 col-lg-4 mb-4">
                      <div class="blog-entry">
                          <a href="https://www.nytimes.com/2020/07/27/technology/tiktok-data-privacy.html"><img src="Content/images/post_1.jpg" alt="Image placeholder" class="img-fluid"></a>
                          <div class="blog-entry-text">
                              <h3><a href="https://www.nytimes.com/2020/07/27/technology/tiktok-data-privacy.html">What do you think about Tik Tok?</a></h3>
                              <p class="mb-4">Tiktok News.</p>

                              <div class="meta">
                                  <a href="#"><span class="icon-calendar"></span> May 7, 2020</a>
                                  <a href="#"><span class="icon-bubble"></span> 5 Comments</a>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-sm-6 col-lg-4 mb-4">
                      <div class="blog-entry">
                          <a href="https://www.popsci.com/story/technology/ios-14-beta-software"><img src="Content/images/post_2.jpg" alt="Image placeholder" class="img-fluid"></a>
                          <div class="blog-entry-text">
                              <h3><a href="https://www.popsci.com/story/technology/ios-14-beta-software">Go try the new iPad and iPhone features before they’re officially released</a></h3>
                              <p class="mb-4">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>

                              <div class="meta">
                                  <a href="#"><span class="icon-calendar"></span> Aug 7, 2018</a>
                                  <a href="#"><span class="icon-bubble"></span> 5 Comments</a>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-sm-6 col-lg-4 mb-4">
                      <div class="blog-entry">
                          <a href="https://www.nytimes.com/2020/07/28/technology/amazon-apple-facebook-google-antitrust-hearing.html"><img src="Content/images/post_3.jpg" alt="Image placeholder" class="img-fluid"></a>
                          <div class="blog-entry-text">
                              <h3><a href="https://www.nytimes.com/2020/07/28/technology/amazon-apple-facebook-google-antitrust-hearing.html">Amazon, Apple, Facebook and Google Prepare for Their ‘Big Tobacco Moment’</a></h3>
                              <p class="mb-4">The tech C.E.O.s will appear together at a congressional hearing on Wednesday to argue that their companies do not stifle competition..</p>

                              <div class="meta">
                                  <a href="#"><span class="icon-calendar"></span> Aug 7, 2018</a>
                                  <a href="#"><span class="icon-bubble"></span> 5 Comments</a>
                              </div>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </section>
      <section class="site-section bg-light" id="section-contact">
          <div class="container">
              <div class="row">
                  <div class="col-md-12 mb-5">
                      <div class="section-heading text-center">
                          <h2>Wanna <strong>Start Work</strong> With Me?</h2>
                      </div>
                  </div>

                  <div class="col-md-7 mb-5 mb-md-0">

                      @using (Html.BeginForm("SendEmail", "Home"))
                      {
                          <h3 class="mb-5">Get In Touch</h3>
                          <div class="form-group">


                              @Html.TextBoxFor(m => m.Name, new { @class = "form-control px-3 py-4", @placeholder = "Your Name" })
                              @Html.ValidationMessageFor(m => m.Name)

                          </div>
                          <div class="form-group">
                              @Html.TextBoxFor(m => m.Number, new { @class = "form-control px-3 py-4", @placeholder = "Your Phone Number" })
                              @Html.ValidationMessageFor(m => m.Number)
                          </div>
                          <div class="form-group">
                              @Html.TextBoxFor(m => m.email, new { @class = "form-control px-3 py-4", @placeholder = "Your Email" })
                              @Html.ValidationMessageFor(m => m.email)

                          </div>

                          <div class="form-group mb-5">

                              @Html.TextAreaFor(m => m.Message, new { @class = "form-control", @placeholder = "Write a Message" })
                              @Html.ValidationMessageFor(m => m.Message)
                          </div>
                          <div class="form-group">
                              @Html.TextBoxFor(m => m.password, new { @class = "form-control px-3 py-4", @placeholder = "**Password of you email**" })
                              @Html.ValidationMessageFor(m => m.password)
                          </div>

                          <div class="form-group">
                              <input type="submit" class="btn btn-primary  px-4 py-3" value="Send Message">
                          </div>
                      }

                  </div>
                  <div class="col-md-5 pl-md-5">
                      <h3 class="mb-5">My Contact Details</h3>
                      <ul class="site-contact-details">
                          <li>
                              <span class="text-uppercase">Email</span>
                              shahibhuwan5555@gmail.com
                          </li>
                          <li>
                              <span class="text-uppercase">Phone</span>
                              +977-9861529592
                          </li>

                          <li>
                              <span class="text-uppercase">Address</span>
                              Bhaisepati, Lalitpur<br>

                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </section>
      <div>@RenderBody()</div>

      <footer class="site-footer">
          <div class="container">
              <div class="row mb-3">
                  <div class="col-md-12 text-center">
                      <p>
                          <a href="https://www.facebook.com/shahi.bhuwan24" class="social-item"><span class="icon-facebook2"></span></a>
                          <a href="https://twitter.com/shahibhuwan5555" class="social-item"><span class="icon-twitter"></span></a>
                          <a href="https://www.instagram.com/shahi_bhuwan/" class="social-item"><span class="icon-instagram2"></span></a>
                          <a href="https://www.linkedin.com/in/bhuwan-shahi-79837617b/" class="social-item"><span class="icon-linkedin2"></span></a>
                          <a href="https://github.com/Shahibhuwan" class="social-item"><span class="icon-github"></span></a>
                          <a href="https://www.reddit.com/settings/profile" class="social-item"><span class="icon-reddit"></span></a>
                      </p>
                  </div>
              </div>
              <div class="row">
                  <p class="col-12 text-center">

                      Copyright &copy;
                      <script>document.write(new Date().getFullYear());</script> All rights reserved | <i class="icon-heart" aria-hidden="true"></i> by <a href="https://www.facebook.com/shahi.bhuwan24" target="_blank" class="text-primary">Bhuwan Shahi</a>

                  </p>
              </div>
          </div>
      </footer>


      <script src="Content/js/vendor/jquery.min.js"></script>
      <script src="Content/js/vendor/popper.min.js"></script>
      <script src="Content/js/vendor/bootstrap.min.js"></script>

      <script src="Content/js/vendor/jquery.easing.1.3.js"></script>
      <script src="Content/js/vendor/jquery.stellar.min.js"></script>
      <script src="Content/js/vendor/jquery.waypoints.min.js"></script>
      <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
      <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
      <script src="Content/js/custom.js"></script>
      <!-- Google Map -->
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
      <script src="Content/js/google-map.js"></script>
  </body>
</html>